
  <ion-card-header>
    Add and edit your tanks here...
  </ion-card-header>
    
    <ion-list *ngFor="let tank of tanks">
      <ion-item>
        <app-tank
        [tank]="tank"
        (updateTank)="updateTank($event)"
        (deleteTank)="deleteTank($event)"
        ></app-tank>
      </ion-item>
    </ion-list>
  <ion-button ion-button size="medium" shape="round" color="primary" fill="outline" (click)="addNewBlankTank()">Add New Tank</ion-button>

