<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)">
    <ion-list>
      <ion-item>
        <ion-input formControlName="email" type="text" placeholder="Email" ngDefaultControl></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="password" type="password" placeholder="Password" ngDefaultControl></ion-input>
      </ion-item>
    </ion-list>
    <ion-item>
      <button ion-button size="medium" shape="round" color="primary" fill="outline" type="submit">Login</button>
    </ion-item>
  </form>


</ion-content>