<ion-header>
  <ion-toolbar>
    <ion-title>camera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img *ngIf="image" [src]="image" />
  <ion-button *ngIf="showTakePicButton" ion-button size="medium" shape="round" color="primary" fill="outline" (click)="takePicture()">Take Picture</ion-button>
  <app-file-upload
    (fileUrl)="fileUploaded($event)"
  ></app-file-upload>
  <ion-item *ngIf="tankList">
    <ion-label>Tank:</ion-label>
    <ion-select placeholder="Select One" [(ngModel)]="selectedTankId">
      <ion-select-option *ngFor="let tank of tankList" [value]="tank.uuid">{{tank.name}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-button ion-button size="medium" shape="round" color="primary" fill="outline" (click)="savePictureClicked()">Save</ion-button>
  </ion-item>
</ion-content>