/** Ionic CSS Variables **/
:root {

  /** primary **/
  --ion-color-primary: #c0c0c0;
  --ion-color-primary-rgb: 192,192,192;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #a9a9a9;
  --ion-color-primary-tint: #c6c6c6;

  /** secondary **/
  --ion-color-secondary: #737373;
  --ion-color-secondary-rgb: 115,115,115;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #656565;
  --ion-color-secondary-tint: #818181;

  /** tertiary **/
  --ion-color-tertiary: #000000;
  --ion-color-tertiary-rgb: 0,0,0;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #000000;
  --ion-color-tertiary-tint: #1a1a1a;

  /** success **/
  --ion-color-success: #81f5af;
  --ion-color-success-rgb: 129,245,175;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #72d89a;
  --ion-color-success-tint: #8ef6b7;

  /** warning **/
  --ion-color-warning: #ffe991;
  --ion-color-warning-rgb: 255,233,145;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0cd80;
  --ion-color-warning-tint: #ffeb9c;

  /** danger **/
  --ion-color-danger: #f28a8a;
  --ion-color-danger-rgb: 242,138,138;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0,0,0;
  --ion-color-danger-shade: #d57979;
  --ion-color-danger-tint: #f39696;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

}