<ion-header>
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit($event)">
    <ion-list>
      <ion-item>
        <ion-input formControlName="email" type="text" placeholder="Email" ngDefaultControl></ion-input>
      </ion-item>
      <ion-item>
          <ion-input formControlName="username" type="text" placeholder="User Name" ngDefaultControl></ion-input>
        </ion-item>
      <ion-item>
        <ion-input formControlName="password" type="password" placeholder="Password" ngDefaultControl></ion-input>
      </ion-item>
    </ion-list>
    <ion-item>
      <button ion-button size="medium" shape="round" color="primary" fill="outline" type="submit">Sign Up</button>
    </ion-item>
  </form>


</ion-content>