
  <form [formGroup]="tankForm" (ngSubmit)="onSubmit()">
      <ion-item>
          <ion-label position="floating">Name (50GallonMoneyPit)</ion-label>
          <ion-input formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Size in gallons</ion-label>
        <ion-input formControlName="size" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Age in years</ion-label>
        <ion-input formControlName="age" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Type (Reef/Salt/FreshWater/Planted)</ion-label>
        <ion-input formControlName="type"></ion-input>
      </ion-item>
      <button ion-button size="medium" shape="round" color="primary" fill="outline" type="submit">save</button>
      <ion-button size="medium" shape="round" fill="outline" float="right" (click)="emitDeleteTank()" >Delete: <ion-icon name="trash" size="large"></ion-icon></ion-button>


      <ion-button size="medium" shape="round" fill="outline" float="right" type="submit">Save: <ion-icon name="save" size="large"></ion-icon></ion-button>
  </form>  