<ion-header>
  <ion-toolbar>
    <ion-title>Your Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-input formControlName="email" type="email" ngDefaultControl placeHolder="Email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="userName" type="text" ngDefaultControl placeHolder="User Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="profilePicUrl" type="text" ngDefaultControl placeHolder="Profile pic url"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button size="medium" shape="round" color="primary" fill="outline" type="submit">Save</button>
  </form>
  <ion-button (click)="logOut()">Log Out</ion-button>
  <ion-card>
    <ion-item>
      <app-tanklist></app-tanklist>
    </ion-item>
  </ion-card>
</ion-content>